.login {
  position: relative;
  min-height: 100vh;

  .app-welcome {
    margin-top: 120rpx;
    padding: 0 80rpx;
    font-size: 48rpx;
    font-weight: bold;
  }

  // 表单
  .form {
    padding: 60rpx 80rpx 0;

    .form-item {
      display: flex;
      align-items: center;
      position: relative;
      margin-top: 40rpx;
      height: 82rpx;
      border-bottom: 1px solid #eee;

      .send-code {
        margin-left: 10rpx;
        color: var(--color-theme);
      }

      .account,
      .password,
      .code {
        flex: 1;
        position: relative;
        height: 80rpx;
        line-height: 80rpx;
        font-size: 32rpx;
        border: none;
        background-color: #fff;
      }

      .icon {
        margin-left: 10rpx;
        padding: 10rpx;
        color: #ccc;

        &.is-show {
          color: var(--color-theme);
        }
      }
    }

    .submit {
      padding-top: 120rpx;
    }
  }

  .tool {
    display: flex;
    justify-content: space-between;
    margin-top: 50rpx;
    padding: 0 80rpx;
    font-size: 24rpx;
    color: var(--color-text-secondary);
  }
}