.container {
  .go-back {
    z-index: 999;
    position: fixed;
    left: 20rpx;
    top: 30rpx;
    color: #fff;
  }

  .video-card {
    margin: 20rpx 30rpx;
  }

  .menu-list {
    position: sticky;
    top: 422rpx;
    z-index: 3;
    padding: 15rpx 30rpx 10rpx;
    height: 68rpx;
    display: flex;
    align-items: center;
    background-color: #fff;
    white-space: nowrap;
    overflow: auto;
    box-sizing: content-box;
    -webkit-overflow-scrolling: touch;

    .menu-item {
      flex-shrink: 0;
      margin-right: 20rpx;
      padding: 0 20rpx;
      height: 48rpx;
      line-height: 46rpx;
      border-radius: 100rpx;
      font-size: 24rpx;
      border: 1px solid rgba(#aaa, 0.35);
      white-space: nowrap;
      transition: all .2s;

      &.is-active {
        color: var(--color-theme);
        border: 1px solid rgba(#f96a19, 0.35);
        background-color: rgba(#f96a19, 0.15);
      }
    }
  }
}