.actor-item {
  position: relative;
  display: flex;
  margin: 0 30rpx;
  padding: 16rpx 0;
  background-color: #fff;

  .actor-avatar {
    flex-shrink: 0;
    position: relative;
    width: 138rpx;
    height: 190rpx;
    overflow: hidden;
    border-radius: 6rpx;
    object-fit: cover;
    background-color: rgba(#f5f5f5, 0.45);
  }

  .actor-info {
    flex: 1;
    margin-left: 28rpx;

    .actor-name {
      padding-bottom: 8rpx;
      font-size: 32rpx;
      color: var(--color-text-primary);
      line-height: 48rpx;
    }

    .info-item {
      font-size: 28rpx;
      line-height: 46rpx;
      color: var(--color-text-secondary);

      .info-item__delimiter {
        margin: 0 4rpx;
        color: #aaa;
      }
    }
  }
}

.tag {
  height: 46rpx;
  line-height: 40rpx;
  font-size: 24rpx;
  color: var(--color-text-secondary);
  padding-top: 12rpx;
}