.award-item {
  padding: 15rpx 30rpx;

  .award-year {
    z-index: 9;
    position: sticky;
    top: 0;
    font-size: 28rpx;
    height: 60rpx;
    line-height: 60rpx;
    color: var(--color-theme);
    font-weight: 700;
    background-color: #fff;
  }

  .award-children {
    padding: 12rpx 0;

    .award-info {
      font-size: 28rpx;

      .award-title {
        font-weight: bold;
        line-height: 40rpx;
      }

      .award-type {
        margin-top: 10rpx;
        font-size: 24rpx;
        color: #999;
      }
    }

    .award-movie {
      display: flex;
      margin-top: 20rpx;
      padding: 10rpx 12rpx;
      background-color: #fafafa;
      height: 126rpx;
      overflow: hidden;

      .movie-poster {
        width: 72rpx;

        .poster {
          width: 72rpx;
          height: 106rpx;
          border-radius: 6rpx;
        }
      }

      .movie-detail {
        flex: 1;
        margin-left: 20rpx;

        .movie-title {
          font-size: 28rpx;
          font-weight: bold;
          line-height: 36rpx;
        }

        .movie-rating {
          display: flex;
          align-items: center;

          .rating-value {
            margin-left: 4rpx;
            font-size: 24rpx;
            color: #f7ba2a;
          }
        }

        .movie-info {
          color: #777;
          line-height: 1.6;
          font-size: 24rpx;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}