.container.search-result {
  .menu-list {
    z-index: 3;
    position: fixed;
    left: 0;
    right: 0;
    padding-top: 10rpx;
    top: 80rpx;
    padding-left: 12rpx;
    height: 84rpx;
    color: rgb(102, 102, 102);
    border-bottom: 1px solid #eee;
    background-color: #fff;

    &::after {
      content: "";
      position: absolute;
      left: 68rpx;
      bottom: 4rpx;
      width: 46rpx;
      height: 6rpx;
      background-color: var(--color-theme);
      border-radius: 4rpx;
      transform: translateX(-50%);
      transition: left 0.2s;
    }

    &.menu-movie {
      &::after {
        left: 68rpx;
      }
    }

    &.menu-actor {
      &::after {
        left: 180rpx;
      }
    }

    &.menu-role {
      &::after {
        left: 292rpx;
      }
    }

    .menu-item {
      display: inline-block;
      width: 112rpx;
      height: 74rpx;
      line-height: 56rpx;
      font-weight: bold;
      font-size: 28rpx;
      text-align: center;
      transition: font-size 0.2s;

      &.is-active {
        font-size: 32rpx;
      }
    }
  }

  .result-list {
    padding: 80rpx 0 15rpx;

    .no-data {
      height: 400rpx;
      line-height: 400rpx;
      text-align: center;
      color: #888;
    }

    // 影视样式重写
    .movie-result {
      .movie-item__poster {
        width: 134rpx;
        height: 180rpx;
      }
    }

    // 影人影视重写
    .actor-result {
      .actor-avatar {
        width: 134rpx;
        height: 180rpx;
      }
    }

    // 角色样式重写
    .role-result {
      .role-avatar {
        width: 134rpx;
        height: 180rpx;
      }
    }
  }

  .init-loading {
    z-index: 99;
    position: fixed;
    left: 0;
    top: 164rpx;
    right: 0;
    bottom: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}