.favorite-container {
    padding-top: 50rpx;
    height: 380rpx;

    .favorite-content {
        display: flex;
        position: relative;
        padding: 160rpx 30rpx 0;

        .edit {
            position: absolute;
            right: 20rpx;
            bottom: 4rpx;
            width: 44rpx;
            height: 44rpx;
            line-height: 44rpx;
            color: #fff;
            font-size: 28rpx;
        }

        .favorite-poster {
            width: 140rpx;
            height: 140rpx;
            border-radius: 6rpx;
            object-fit: cover;
        }

        .favorite-info {
            margin-left: 26rpx;
            color: #fff;

            .favorite-title {
                font-size: 32rpx;
                font-weight: bold;
                height: 44rpx;
                line-height: 44rpx;
            }

            .favorite-count {
                margin-top: 12rpx;
                height: 32rpx;
                line-height: 32rpx;
                font-size: 24rpx;
            }

            .favorite-brief {
                margin-top: 12rpx;
                font-size: 28rpx;
            }
        }
    }

    .banner {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        background: #d67624;
        height: 380rpx;
        overflow: hidden;
    }

    .banner__round {
        width: 260rpx;
        height: 260rpx;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.1);
        position: absolute;
    }

    .banner__round--left {
        left: -120rpx;
        top: -120rpx;
    }

    .banner__round--right {
        right: -120rpx;
        bottom: -120rpx;
    }

    .banner__round::after {
        display: block;
        content: "";
        width: 100rpx;
        height: 100rpx;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.1);
        position: absolute;
    }

    .banner__round--left::after {
        right: -50rpx;
        top: 160rpx;
    }

    .banner__round--right::after {
        left: 60rpx;
        top: -30rpx;
    }
}