.serial-item {
  display: flex;
  padding: 20rpx 0;
  margin: 0 30rpx;
  position: relative;
  .serial-info {
    flex: 1;
    margin-left: 28rpx;
    .serial-name {
      font-size: 32rpx;
      color: var(--color-text-primary);
    }
    .serial-label {
      margin-top: 10rpx;
      font-size: 28rpx;
      color: var(--color-text-secondary);
    }
  }
}