.title {
  line-height: 60rpx;
}

.captcha-main {
  margin-top: 20rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70rpx;

  .captcha {
    height: 70rpx;
  }
}

.code-input-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  padding: 40rpx 0 0;
}

.code-input {
  height: 68rpx;
  width: 100%;
  position: absolute;
  border: none;
  outline: none;
  color: transparent;
  background-color: transparent;
  text-shadow: 0 0 0 transparent;
}

.code-input-main-item {
  width: 34rpx;
  height: 68rpx;
  line-height: 68rpx;
  margin: 0 5rpx;
  padding-bottom: 0;
  opacity: 0.8;
  border-bottom: 1px solid #323232;
  text-align: center;
  font-size: 36rpx;
  color: #323232;
}