  .award-main {
    .award-group {
      display: inline-block;
      width: 50%;

      &:nth-child(2n) .border_right::before {
        display: none;
      }

      .award-content {
        .award-item {
          font-size: 28rpx;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 80rpx;
          line-height: 80rpx;
          &.is-hover {
            background-color: #f5f5f5;
          }
        }
      }
    }
  }