.movie-card-container {
    .card {
        padding: 20rpx;
        display: flex;
        color: #555;
        background-color: #f5f5f5;

        .movie-poster {
            display: block;
            width: 70rpx;
            height: 100rpx;
            object-fit: cover;
            border-radius: 3rpx;
            background: #f7f7f7;
        }

        .movie-info-wrapper {
            flex: 1;
            width: 0;
            padding-left: 20rpx;
            font-size: 28rpx;
        }

        .movie-header {
            display: flex;
            align-items: center;
            height: 56rpx;
            color: #444;
            font-weight: 700;

            .movie-title {
                max-width: 400rpx;
            }

            .movie-rating {
                font-size: 24rpx;
                padding: 0 16rpx;

                .rating {
                    font-size: 22rpx;
                    margin-left: 8rpx;
                    color: #f16c00;
                }

                .rating-no {
                    font-size: 22rpx;
                    color: var(--color-text-regular);
                }
            }
        }

        .movie-info {
            font-size: 24rpx;
            line-height: 40rpx;

            .delimiter {
                margin: 0 6rpx;
                color: #aaa;
            }
        }
    }
}