.image-group {
    width: 140rpx;
    height: 140rpx;

    .list {
        position: relative;
        width: 140rpx;
        height: 140rpx;
        text-align: left;

        .image-item {
            position: absolute;
            width: 100rpx;
            height: 140rpx;
            border-radius: 8rpx;
            object-fit: cover;
            overflow: hidden;

            &.item_0 {
                z-index: 3;
            }

            &.item_1 {
                z-index: 2;
                right: 20rpx;
                bottom: 0;
                width: 94rpx;
                height: 132rpx;
                opacity: 0.7;
            }

            &.item_2 {
                z-index: 1;
                right: 0;
                bottom: 0;
                width: 88rpx;
                height: 123rpx;
                opacity: 0.4;
            }
        }
    }

    .no-image {
        width: 140rpx;
        height: 140rpx;
        border-radius: 12rpx;
        object-fit: cover;
    }
}