.skeleton-container {
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;

  .skeleton {
    padding: 30rpx;

    .title {
      height: 48rpx;
      background-color: var(--color-skeleton);
    }

    .author {
      display: flex;
      align-items: center;
      margin: 40rpx 0;
      height: 80rpx;

      .avatar {
        width: 80rpx;
        height: 80rpx;
        border-radius: 50%;
        background-color: var(--color-skeleton);
      }

      .username {
        margin-left: 26rpx;
        height: 36rpx;
        width: 300rpx;
        background-color: var(--color-skeleton);
      }
    }

    .content {
      margin-top: 20rpx;

      .line {
        margin-top: 20rpx;
        height: 36rpx;
        background-color: var(--color-skeleton);
      }
    }
  }
}