.container {
	padding-top: 20rpx;
}
.content {
	padding: 32rpx;
	border-radius: 6rpx;
	background-color: #f1f1f1;
	.title {

	}
	.intro {
		padding-top: 10rpx;
		line-height: 1.6;
		color: #666;
		font-size: 24rpx;
	}
}